@font-face {
  font-family: "iconfont"; /* Project id 2934926 */
  src: url('//at.alicdn.com/t/font_2934926_gkvzpqwjy5h.woff2?t=1636722007036') format('woff2'),
       url('//at.alicdn.com/t/font_2934926_gkvzpqwjy5h.woff?t=1636722007036') format('woff'),
       url('//at.alicdn.com/t/font_2934926_gkvzpqwjy5h.ttf?t=1636722007036') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-leetcode:before {
  content: "\ebf2";
}

